/*  your css code here. If applicable */
.container{
	width:600px;
	height:250px;
	border:3px solid black;
	border-radius:50px;
	background-color:lightgray;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.green{
	width:130px;
	height:130px;
	background-color:green;
	border:1px solid green;
	border-radius:50%;
	margin:5px;
}
.yellow{
	width:130px;
	height:130px;
	background-color: yellow;
	border:1px solid yellow;
	border-radius:50%;
	margin:5px;
}
.red{
	width:130px;
	height:130px;
	background-color:red;
	border:1px solid red;
	border-radius:50%;
	margin:5px;
}